PORT=4000

# Mail Credentials
NOTIFY_TO=spellbound.studio3@gmail.com

EMAIL_PASS=
EMAIL_USER=spellbound.studio3@gmail.com

DATABASE_URL=postgresql://neondb_owner:npg_TkoEM5iyvq3d@ep-crimson-recipe-aonb3sgm-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require